---
layout: default
title: Pesquisas
---

<p>Os principais temas de pesquisa desenvolvidos no <b>LAAI</b> são:</p>
<ul>
    <li>Desenvolvimento de sistemas embarcados;</li>
    <li>Desenvolvimento de software industrial;</li>
    <li>Redes de computadores;</li>
    <li>Redes de sensores;</li>
    <li>Metaheurísticas aplicadas a problemas de otimização combinatória;</li>
    <li>Inteligência artificial distribuída com sistemas multiagentes;</li>
    <li>Desenvolvimento de algoritmos inteligentes para sistemas elétricos de distribuição e <i>smart grids</i>.</li>
</ul>
<p>Nos links abaixo é possível obter mais informações sobre os projetos desenvolvidos e os pesquisadores envolvidos.</p>
<p>O <b>LAAI</b> está disponível para parcerias e desenvolvimento de projetos relacionados com os temas de interesse dos pesquisadores. <a href='{{ site.base }}/people/'>Contate-nos</a> para maiores informações.</p>

  <h3>Em Andamento</h3>
  <dl>
  {% for project in site.data.research %}
    {% if project.date_end != nil %} {% continue %} {% endif %}
    <dt>
      <a href="{{ project.name | sanitize_filename }}">{{ project.name }}</a>
    </dt>
    <dd>
      {{ project.summary | markdownify }}
    </dd>
    <dd>
      <b>Coordenador:</b> <a href='{{ site.base }}/people/{{ project.leader | sanitize_filename }}'>
        {{ project.leader }} </a>
    </dd>
    <br>
  {% endfor %}
  </dl>
  
  <!-- h3>Finalizados</h3 -->
  <dl>
  {% for project in site.data.research %}
    {% if project.date_end == nil %} {% continue %} {% endif %}
    <dt>
      <a href="{{ project.name | sanitize_filename }}">{{ project.name }}</a>
    </dt>
    <dd>
      {{ project.summary | markdownify }}
    </dd>
    <dd>
      <b>Período de execução:</b> {{ project.date_begin }} - {{ project.date_end }}<br>
      <b>Coordenador:</b> <a href='{{ site.base }}/people/{{ project.leader | sanitize_filename }}'>
        {{ project.leader }} </a>
    </dd>
    <br>
  {% endfor %}
  </dl>
